<%- include("partials/header"); -%>



  <div class="container">
    <h1>Home</h1>
    <p>
      <%= homeContent %>
    </p>

    <% postContent.forEach(post=> { %>
      <h1>
        <%= post.title %>
      </h1>
      <p>
        <% if (post.body.length>100) { %>
          <%= `${post.body.substring(0, 100)}... ` %>
            <a href=<%=`/posts/${post._id}` %> >Read More</a>
            <% } else { %>
              <%= post.body %>
      </p>
      <% }}) %>
  </div>


  <%- include("partials/footer"); -%>